<p  [tooltip]  class="rowBorder">
  book-list works!
</p>
<a class="btn btn-primary" [routerLink]="['new']">New</a>
<ul class="list-group"
*ngFor="let book of getBooks()">
<li class="list-group-item"><a  [routerLink]="['/books', book.isbn]">{{book.title}}</a>  </li>

</ul>


<div class="dropdown" dropdown>
    <a  class="btn btn-secondary dropdown-toggle"  dropdownToggle role="button">Bücher</a>
    <ul *dropdownMenu class="dropdown-menu" >
      <div *ngFor="let book of getBooks()">
        <li><a class="dropdown-item"[routerLink]="['/books', book.isbn]">{{book.title}}</a></li>        
      </div>      
     </ul>
</div>

